---
- hosts: all

  tasks:

  - name: Create main user
    import_role:
      name: user
    vars:
      username: main
      towheel: true
      uid: 1005
      chezmoi_repo: "https://github.com/luposmi/dotfiles"
      # TODO: change to git@github.com:luposmi/dotfiles.git if available

  roles: 
    - system_config
    - gui
