---
- name: Create a group with the same name as the user
  become: true
  group:
    name: "{{ username }}"
    state: present

- name: generate user
  become: true
  user:
    name: "{{ username }}"
    state: present
    uid: "{{ uid }}"
    groups: wheel, {{ username }}
    update_password: "on_create"
    password_lock: false

    expires: -1
    create_home: true
    shell: /bin/zsh

    generate_ssh_key: yes
    ssh_key_bits: 2048
    ssh_key_file: .ssh/id_rsa

- name: Enable sudo access for wheel group
  become: true
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^%wheel\s+ALL=\(ALL\)\s+ALL'
    line: '%wheel ALL=(ALL) ALL'
    validate: 'visudo -cf %s'
    backup: yes

- name: Create common directories as {{ username }}
  become: true
  file:
    path: "/home/{{ username }}/{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0700"
  loop:
    - Documents
    - Downloads
    - Music
    - Pictures
    - Videos
    - Programs
    - repos

- name: Clone config repo
  become: true
  become_user: "{{ username }}"
  ansible.builtin.git:
    repo: "{{ chezmoi_repo }}"
    dest: /home/{{ username }}/.local/share/chezmoi
  register: chezmoi_git_result

- name: Apply config with chezmoi
  become: true
  become_user: "{{ username }}"
  command: chezmoi apply
  when: chezmoi_git_result.changed

- name: start syncthing
  become: true
  become_user: "{{ username }}"
  ansible.builtin.systemd_service:
    name: syncthing.service
    state: started
    enabled: true
    scope: user
