---
- name: install gui packages
  become: true
  pacman:
    name: "{{ packages }}"
    state: present

- name: Manage flatpak packages
  include_tasks: flatpak.yaml

- name: create custom keymap
  include_tasks: keymap.yaml

- name: Copy greetd config
  become: true
  copy:
    src: files/config.toml
    dest: /etc/greetd/config.toml
    owner: root
    group: root
    mode: "0600"

- name: Copy touchpad config for xorg
  become: true
  copy:
    src: files/30-touchpad.conf
    dest: /etc/greetd/30-touchpad.conf
    owner: root
    group: root
    mode: "0600"

- name: start greetd service
  become: true
  service:
    name: greetd
    enabled: true

- name: start bluetooth service
  become: true
  service:
    name: bluetooth
    enabled: true

