---
- name: make sure cmdline directory exists
  become: true
  file:
    path: /etc/cmdline.d
    state: directory

- name: copy kernel parameters
  become: true
  copy:
    src: files/security.conf
    dest: /etc/cmdline.d/security.conf
  when: enable_apparmor
  notify: recreate ramdisk

- name: delete security config
  become: true
  file:
    path: /etc/cmdline.d/security.conf
    state: absent
  when: not enable_apparmor
  notify: recreate ramdisk

- name: enable apparmor
  become: true
  service:
    name: apparmor
    enabled: "{{ enable_apparmor | bool }}"
